params {
    input  = null
    outdir = 'results'
}

profiles {
    docker {
        docker.enabled = true
    }
    test {
        params.input   = "${projectDir}/assets/samplesheet_test.csv"
        params.outdir  = 'results_test'
        process.cpus   = 2
        process.memory = '3 GB'
    }
}
