params {
    input             = null
    outdir            = 'results'
    fasta             = null
    transcript_fasta  = null
}

profiles {
    docker {
        docker.enabled = true
    }
    test {
        params.input             = "${projectDir}/assets/samplesheet_test.csv"
        params.outdir            = 'results_test'
        params.fasta             = 'https://raw.githubusercontent.com/nf-core/test-datasets/7f1614baeb0ddf66e60be78c3d9fa55440465ac8/reference/genome.fasta'
        params.transcript_fasta  = 'https://raw.githubusercontent.com/nf-core/test-datasets/7f1614baeb0ddf66e60be78c3d9fa55440465ac8/reference/transcriptome.fasta'
        process.cpus             = 2
        process.memory           = '3 GB'
    }
}
